.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0); 
	height: 1px; 
	width: 1px;
	margin: -1px;
	padding: 0;
}

.form {
	width: 288px;
}

.form__label {
	display: block;
}

.form__input-text {
	box-sizing: border-box;
	display: inline-block;
	padding: 11px 7px;
	width: 100%;
	border: 2px solid #bac8cb;
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.2;
	color: #727f82;
	caret-color: #f7d36a;
}

.form__select-wrapper {
	position: relative;
	display: inline-block;
	background-color: #ffffff;
}

.form__select-wrapper::after {
	content: '';
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -4px;
	width: 12px;
	height: 8px;
	background-image: url('../img/triangle.png');
	background-repeat: no-repeat;
}

.form__select {
	position: relative;
	z-index: 1;
	padding: 11px 7px;
	padding-right: 22px;
	border: 2px solid #bac8cb;
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.2;
	-webkit-appearance: none;
		-moz-appearance: none;
			appearance: none;
	background-color: transparent;
}

.form__input-text:focus {
	outline: 2px solid #82d4e7;
}